<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="4050"/>
    <add key="UpdateServer" value="www.ererer.com"/>
    <add key="AccessUser" value=""/>
    <add key="AccessPsd" value=""/>
    <add key="SupportedLanguage" value="zh,"/>
    <add key="IconHint" value=""/>
    <add key="HideHint" value=""/>
    <add key="SupportedLanguage" value="zh,"/>
    
  </appSettings>
</configuration>